<header class="ui three column divided grid">

  <section class="ui header centered column">
    <div class="ui horizontal icon-container divider">
      <a href="{{relative page "learn.html"}}#learn">
        <i class="big circular book icon link"></i>
      </a>
    </div>

    <h2>
      <a href="{{relative page "learn.html"}}#learn">Learn</a>
    </h2>

    <p class="ui medium header">
      old ideas as new ideas
    </p>

    <ul class="ui">
      <li>
        a <a href="{{relative page "learn.html"}}#holons">holon</a> is something that is simultaneously a whole and a part
      </li>
      <li>
        a <a class="item" href="{{relative page "learn.html"}}#economy">economy</a> is the community managing itself
      </li>
      <li>
        a <a class="item" href="{{relative page "learn.html"}}#technology">technology</a> is the community using a tool
      </li>
    </ul>
  </section>

  <section class="ui header column">

    <div class="ui horizontal icon-container divider">
      <a href="{{relative page "create.html"}}#create">
        <i class="big circular wrench icon link"></i>
      </a>
    </div>

    <h2>
      <a href="{{relative page "create.html"}}#create">Create</a>
    </h2>

    <p class="ui medium header">
      develop tools collaboratively and deploy tools collectively
    </p>

    {{md 'content/projects.md'}}

  </section>

  <section class="ui header column">

    <div class="ui horizontal icon-container divider">
      <a href="{{relative page "create.html"}}#create">
        <i class="big circular wrench icon link"></i>
      </a>
    </div>

    <h2>
      <a href="{{relative page "organize.html"}}#organize">Organize</a>
    </h2>

    <p class="ui medium header">
      holons working together for the benefit of all holons
    </p>

    {{> call-to-action }}

    {{md 'content/roots.md'}}

  </section>

</header>
