<main>

  <section class="ui three column divided grid">

    <section class="ui header column">
      <div class="one-col">

        <div class="icon-container">
          <div class="ui horizontal icon divider">
            <a href="{{relative page "learn.html"}}#learn">
              <i class="big circular book icon link"></i>
            </a>
          </div>
        </div>

        <h2><a href="{{relative page "learn.html"}}#learn">Learn</a>
          <br />
          <small class="medium header">
            <a href="http://www.chris-granger.com/2012/10/05/all-ideas-are-old-ideas/">That all ideas are old ideas</a>
          </small>
        </h2>

        <p>
          holonomy is built in part on a powerful idea: holons. a holon is defined as something that is simultaneously a whole and a part, such a bee hive: each bee is simultaneously a whole bee and part of a hive.
          <br />
          <br />
          <a href="{{relative page "learn.html"}}#learn" class="ui basic button">more</a>
        </p>

      </div>

    </section>

    <section class="ui header column">
      <div class="one-col">


        <div class="icon-container">
          <div class="ui horizontal icon divider">
            <a href="{{relative page "create.html"}}#create">
              <i class="big circular wrench icon link"></i>
            </a>
          </div>
        </div>

        <h2><a href="{{relative page "create.html"}}#create">Create</a>
          <small class="medium header">
            Open source development and self-hosted deployment
          </small>
        </h2>

        <p>
          holonomy is about creating software tools that are useful to a holon such as yourself, developed with you and hosted by you: holonic identity, holonic task delegation, holonic decision-making, holonic communication, holonic market interactions, holonic inventory sharing, etc.
          <br />
          <br />
          <a href="{{relative page "create.html"}}#create" class="ui basic button">more</a>
        </p>

      </div>

    </section>

    <section class="ui header column">
      <div class="one-col">

        <div class="icon-container">
          <div class="ui horizontal icon divider">
            <a href="{{relative page "organize.html"}}#organize">
              <i class="big circular users icon link"></i>
            </a>
          </div>
        </div>

        <h2><a href="{{relative page "organize.html"}}#organize">Organize</a>
          <br />

          <small class="medium header">
            As holons working together for the benefit of all holons
          </small>
        </h2>

        <p>
          holonomy is organized by you: anyone can contribute to holonomy development, all contributions are replicated to all holons by virtue of the technology being open source.
          <br />
          <br />
          <a href="{{relative page "organize.html"}}#organize" class="ui basic button">more</a>
        </p>

      </div>

    </section>

  </section>

</main>
