---
title: index
---
<div class="page-header">
  <h2><a href="{{relative page "holons.html"}}">holons?</a>
    <small>
      something that is simultaneously a whole and a part
    </small>
  </h2>
  <p>
    an example of a holon is a bee hive: each bee is simultaneously a whole bee and part of a hive.
    <a href="{{relative page "holons.html"}}" class="btn btn-default">more</a>
  </p>
</div>
<div class="page-header">
  <h2><a href="{{relative page "tech.html"}}">technology?</a>
    <small>
      open source development, self-hosted deployment
    </small>
  </h2>
  <p>
    all the tools a holon such as yourself would find useful, developed with you and hosted by you: holonic identity, holonic task delegation, holonic decision-making, holonic communication, holonic market interactions, holonic inventory sharing, etc.
    <a href="{{relative page "tech.html"}}" class="btn btn-default">more</a>
  </p>
</div>
<div class="page-header">
  <h2><a href="{{relative page "org.html"}}">organization?</a>
    <small>
      holons working together for the benefit of all holons
    </small>
  </h2>
  <p>
    anyone can contribute to holonomy development, all contributions are replicated to all holons by virtue of the technology being open source.
    <a href="{{relative page "org.html"}}" class="btn btn-default">more</a>
  </p>
</div>