---
title: index
---
<div class="page-header">
  <h2><a href="{{relative page "learn.html"}}">learn</a>
    <small>
      new ideas are old ideas
    </small>
  </h2>
  <p>
    holonomy is built in part on a powerful idea: holons. a holon is defined as something that is simultaneously a whole and a part, such a bee hive: each bee is simultaneously a whole bee and part of a hive.
    <a href="{{relative page "learn.html"}}" class="btn btn-default">more</a>
  </p>
</div>
<div class="page-header">
  <h2><a href="{{relative page "create.html"}}">create</a>
    <small>
      open source development, self-hosted deployment
    </small>
  </h2>
  <p>
    holonomy is about creating software tools that are useful to a holon such as yourself, developed with you and hosted by you: holonic identity, holonic task delegation, holonic decision-making, holonic communication, holonic market interactions, holonic inventory sharing, etc.
    <a href="{{relative page "create.html"}}" class="btn btn-default">more</a>
  </p>
</div>
<div class="page-header">
  <h2><a href="{{relative page "organize.html"}}">organize</a>
    <small>
      holons working together for the benefit of all holons
    </small>
  </h2>
  <p>
    holonomy is organized by you: anyone can contribute to holonomy development, all contributions are replicated to all holons by virtue of the technology being open source.
    <a href="{{relative page "organize.html"}}" class="btn btn-default">more</a>
  </p>
</div>